@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-manrope: var(--font-manrope);
}
body {
    font-family: var(--font-manrope), sans-serif;
}  

._radial_container{
    width: 100%;
    @apply flex justify-center;
}
._radial_bg{
    width: 30%;
    padding-top: 10%;
    border-radius: 100%;
    top: 0;
    /* opacity: 0.4; */
    @apply rounded-full absolute;
    filter: blur(100px);
    transform: translateX(0%) translateY(-50%);
    background: linear-gradient(132deg, #96EA63 0.00%, #96EA63 100.00%);
}
._hero_wrapper{
    margin-top: 8rem;
}
._grad_bg {
    background: linear-gradient(0deg, #97ea6331 0.00%, #07070aa5 100.00%);
}
._features_card_x2 > div {
    background-color: #0D0E14;
}
._features_card_x3 > div {
    background-color: #0D0E14;
}
._grad_card_main{
    width: 20%;
    height: 150px;
    position: absolute;
    z-index: 1;
    transform: rotate(45deg);
    top: -1.75rem;
    right: 0;
    background: linear-gradient(360deg, #0D0F13 0.00%, #0D0F13 0.00%, #96EA63 100.00%); 
    filter: blur(80px);
    opacity: 0.75;
}
._grad_card_main_2{
    width: 100px;
    height: 250px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    background: #96EA63;
    filter: blur(70px);
    border-radius: 60%;
    opacity: 0.15;
}
._grad_card_base{
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background: linear-gradient(90deg, #FFFFFF 0.00%, #0D0F13 100.00%); 
    filter: blur(70px);
    border-radius: 60%;
    opacity: 0.5;
}
._features_card_x2 > div:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(29deg, #97ea6337, rgba(27, 67, 1, 0.315));
    @apply rounded-xl;
    padding: 1.5px;
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}
._features_card_x3 > div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(125deg, #212429, rgba(0, 0, 0, 0.315));
    @apply rounded-xl;
    padding: 1.5px;
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}
._start_icon_shuffle > button:nth-child(1){
    @apply ms-5;
}
.ic_cr_container{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.ic_cr_container > div:nth-child(1) {
    transform: rotate(0deg) translate(80px) rotate(0deg);
}
.ic_cr_container > div:nth-child(2) {
    transform: rotate(45deg) translate(80px) rotate(-45deg);
}
.ic_cr_container > div:nth-child(3) {
    transform: rotate(90deg) translate(80px) rotate(-90deg);
}
.ic_cr_container > div:nth-child(4) {
    transform: rotate(135deg) translate(80px) rotate(-135deg);
}
.ic_cr_container > div:nth-child(5) {
    transform: rotate(180deg) translate(80px) rotate(-180deg);
}
.ic_cr_container > div:nth-child(6) {
    transform: rotate(225deg) translate(80px) rotate(-225deg);
}
.ic_cr_container > div:nth-child(7) {
    transform: rotate(270deg) translate(80px) rotate(-270deg);
}
.ic_cr_container > div:nth-child(8) {
    transform: rotate(315deg) translate(80px) rotate(-315deg);
}
.ic_cr_icon{
    position: absolute;
    top: 40%;
    left: 40%;
    background-color: teal;
}