@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-manrope: var(--font-manrope);
}
body {
    font-family: var(--font-manrope), sans-serif;
}  

._radial_container{
    width: 100%;
    @apply flex justify-center;
}
._radial_bg{
    width: 30%;
    padding-top: 10%;
    border-radius: 100%;
    top: 0;
    /* opacity: 0.4; */
    @apply rounded-full absolute;
    filter: blur(100px);
    transform: translateX(0%) translateY(-50%);
    background: linear-gradient(132deg, #96EA63 0.00%, #96EA63 100.00%);
}
._hero_wrapper{
    margin-top: 8rem;
}